@charset "UTF-8";

/* Formatação de Imagens */
/* logo */
.img_logo{
    border-radius: 55px;
    /* margin: 20px 10px 10px 65px;  */
    border: 5px solid #ffffff;
    width: 100%;
}
.img_logo img{
    width: 100%;
}
/* Imagem do quarto */
.img_quarto{
width: 100%;
}

.img_quarto img{
    width: 100%;
}

