/* Organização do banner inicial */
.containerPai-Bibliografia{
    width:100%;
    max-width: 1080px;
}

.header-banner{
    width: 100vw;
}
.header-banner img{
    width: 100%;
}

/* Texto principal */
.main-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Texto 1 */
#organiza-texto1{
    min-height:550px;
    width: 100%;

    padding-right: 15%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10vh;
    margin-bottom: 20vh;
}

.section-texto1{

    min-height:550px ;
    max-height: 600px;
    height: 50vh;
    width: 60%;
    

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    align-items: start;
    justify-content: center;
    max-width: 1000px;

    font-size: 3.6rem;
    flex: 1;
}
.img-texto1{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
    width: 100%;
    flex: 1;
}

    /* Imagem do texto 1 */
.img-texto1 img{
    width: 25%;
    transform: translate(70%, 20%);
}

.p-referencia {
    font-size: 50%;
    padding-top: 2%;
    padding-left: 35%;

    font-style: italic;
}


/* Texto 2 */
#organiza-Texto2{
    min-height: 600px ;
    width: 100%;
}
#organiza-Texto2 img{
    width: 100%;
}



