<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../Css/all.css">
    <link rel="stylesheet" href="../Css/Biografia.css">
    <!-- fontes -->
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Biografia</title>
</head>

<body>

    <div class="container-Pai-Biografia">
        <!-- Header -->
        <div class="container-master-Biografia">
            <header>
                <nav>
                    <!-- Logo da barra de navegação -->
                    <div class="nav-TopoLogo">

                        <div class="nav-TopoLogo-IconLivro">
                            <a href="../index.html"><img src="../img/icon_Logo.png" alt="Icone de livro"></a>
                        </div>

                        <div class="nav-TopoLogo-Letreiero">
                            <span>
                                <a href="../index.html">
                                    Paulo Freire
                                </a>
                            </span>
                        </div>

                    </div>

                    <!-- Nav-Bar -->
                    <ul class="nav-BarraDeNavegacao">
                        <li><a href="/Views/Biografia.html">Biografia</a></li>
                        <li><a href="#">O 'Método' Paulo Freire</a></li>
                        <li><a href="/Views/Obras.html">Obras</a></li>
                        <li><a href="/Views/Instituto.html">Instituto Paulo Freire</a></li>
                        <li><a href="/Views/Citacoes.html">Citações</a></li>
                        <li><a href="#">Sobre nós</a></li>
                    </ul>
                </nav>
            </header>

            <section class="texto-Biografia">
                <div class="card-texto-Biografia">
                    <img src="../img/img_MiniaturaPF.png" alt="Miniatura do paulo freire">
                    <span>Biografia</span>
                </div>

                <section class="texto-Biografia-main">
                    <h2>Paulo Reglus Freire:</h2>
                    <!-- Pragrafo 1 -->

                    <p>

                        Fruto do casamento de Joaquim Freire e Edeltrudes Neves, em 19 de setembro de 1921, Recife,
                        nasce Paulo Reglus Neves Freire. Teve ainda três irmãos, Stela, Temístocles e Armando.
                        <br><br>
                        Paulo iniciou sua vida acadêmica no Colégio 14 de julho, passando depois ao Colégio Oswaldo
                        Cruz, quando, aos 13 anos ficou órfão de pai. Sua mãe teve de sustentar os 4 filhos sozinha
                        e sem dinheiro para continuar pagando a mensalidade do Colégio, conversou com o diretor que
                        cedeu a Paulo uma bolsa integral.
                        <br><br>
                        Esse mesmo diretor fez de Paulo Freire auxiliar de disciplina de língua portuguesa, pela sua
                        excelente performance.Tornou-se mais tarde professor titular, onde continuou mesmo após
                        ingressar na faculdade.
                        <br><br>
                    </p>
                    <figure class="texto-Biografia-img">
                        <img src="/img/img_BiografiaPF.png" alt="">
                    </figure>
                    <p>
                        Entrou para Faculdade de direito em 1943 na Universidade do Recife, onde dedicou-se também
                        ao estudo de filosofia da linguagem, visto que era o seu ramo de atuação profissional e
                        também uma de suas paixões.
                        <br><br>
                        Em 1944 casou-se com Elza Maia Costa de Oliveira, professora de primeiro segmento.
                        O casamento durou 42 anos, e resultou em 5 filhos, quando em Elza veio a falecer.
                        <br><br>
                        Dois anos depois casou pela segunda vez com Ana Maria Araújo, também professora – e cabe aqui
                        mencionar que foi sua orientadora no mestrado na PUC-SP.
                        <br><br>
                        Paulo Freire faleceu em 2 de maio de 1997, aos 76 anos, no Hospital Albert Einstein, advindo
                        de um ataque cardíaco. Realizou a cirurgia para desobstrução das artérias não obtendo
                        sucesso.
                    </p>
                </section>

            </section>
            <hr>
            <footer class="pai-footer">
                <!-- Quem somos nós -->
                <header class="footer-header-quemSomosNos">
                    <h2>Quem somos nós</h2>
                </header>

                <main class="footer-container-equipes">
                    <section class="footer-section-Equipe">
                        <h2>Time de Design</h2>
                        <br>
                        <ul>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <img src="../img/img_jose-programacao.png" alt="">
                                    <div class="Footer-Design-NomeIcon">

                                        <span>
                                            Camila
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""><img src="../img/icon_github.png" alt=""></a>
                                            <a href=""><img src="../img/icon_linkedin.png" alt=""></a>
                                            <a href=""><img src="../img/icon_insta.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>

                            <li>
                                <div class="Footer-Design-Item">
                                    <img src="../img/img_jose-programacao.png" alt="">
                                    <div class="Footer-Design-NomeIcon">

                                        <span>
                                            Igor Yan
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <img src="../img/img_jose-programacao.png" alt="">
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Julia
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <img src="../img/img_jose-programacao.png" alt="">
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Leticia
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <img src="../img/img_jose-programacao.png" alt="">
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Maria
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                        </ul>
                    </section>

                    <section class="footer-section-Equipe">
                        <h2>Time de pesquisa:</h2>
                        <br>
                        <ul>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <img src="../img/img_jose-programacao.png" alt="">
                                    <div class="Footer-Design-NomeIcon">

                                        <span>
                                            Felipe
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>

                            <li>
                                <div class="Footer-Design-Item">
                                    <img src="../img/img_jose-programacao.png" alt="">
                                    <div class="Footer-Design-NomeIcon">

                                        <span>
                                            Guilherme
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <img src="../img/img_jose-programacao.png" alt=""> </a>
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            José Ricardo
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <img src="../img/img_jose-programacao.png" alt="">
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Maylon
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                        </ul>
                    </section>

                    <section class="footer-section-Equipe">
                        <h2>Time de programação</h2>
                        <br>
                        <ul>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <img src="../img/img_jose-programacao.png" alt="">
                                    <div class="Footer-Design-NomeIcon">

                                        <span>
                                            Edson
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>

                            <li>
                                <div class="Footer-Design-Item">
                                    <img src="../img/img_jose-programacao.png" alt="">
                                    <div class="Footer-Design-NomeIcon">

                                        <span>
                                            Gabriel
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <img src="../img/img_jose-programacao.png" alt="">
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Kelvin
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <img src="../img/img_jose-programacao.png" alt="">
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Marcela
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <img src="../img/img_jose-programacao.png" alt="">
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Igor Nunes
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                        </ul>
                    </section>
                </main>

                <!-- Sessão de copyRight -->

                <footer class="footer-copyright">
                    <span>Produzido por Grupo A - Desenvolvimento de Sistemas - Etec Poá</span>
                    <div class="footer-icones">

                        <a href="#">
                            <img src="../img/icon_github.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../img/icon_linkedin.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../img/icon_insta.png" alt="">
                        </a>
                    </div>
                </footer>

            </footer>
        </div>
    </div>

</body>

</html>