<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../Css/all.css">
    <link rel="stylesheet" href="../Css/citacoes.css">
    <!-- fontes -->
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title> Semana paulo freire | Citações</title>
    
    <link rel="shortcut icon" href="/img/img_MiniaturaPF.png">
</head>

<body>

    <div class="container-Pai-Citacoes">
        <!-- Header -->
        <div class="container-master-citacoes">
            <header>
                <nav>
                    <!-- Logo da barra de navegação -->
                    <div class="nav-TopoLogo">
    
                        <div class="nav-TopoLogo-IconLivro">
                            <a href="../index.html"><img src="../img/icon_Logo.png" alt="Icone de livro"></a>
                        </div>
    
                        <div class="nav-TopoLogo-Letreiero">
                            <span>
                                <a href="../index.html">
                                    Paulo Freire
                                </a>
                            </span>
                        </div>
    
                    </div>
    
                    <!-- Nav-Bar -->
                    <ul class="nav-BarraDeNavegacao">
                        <li><a href="/Views/Biografia.html">Biografia</a></li>
                        <li><a href="/Views/MetodoFreire.html">O 'Método' Paulo Freire</a></li>
                        <li><a href="/Views/Obras.html">Obras</a></li>
                        <li><a href="/Views/Instituto.html">Instituto Paulo Freire</a></li>
                        <li><a href="/Views/Citacoes.html">Citações</a></li>
                        <li><a href="#quemSomos">Sobre nós</a></li>
                    </ul>
                </nav>
            </header>
            <section class="texto-Citacoes">
                <div class="card-texto-Citacoes">
                    <img src="../img/img_MiniaturaPF.png" alt="Miniatura do paulo freire">
                    <span>Citações</span>
                </div>

                <section class="texto-Citacoes-main">
                    <h2>Algumas Citações:</h2>

                    <p>
                        <cite>

                            “A leitura do mundo precede a leitura da palavra, daí que a posterior leitura desta não
                            possa
                            prescindir da continuidade da leitura daquele.”

                        </cite>
                    </p>
                    <p>

                        <cite>

                            “Não existe docência sem discência.”

                        </cite>
                    </p>

                    <p>
                        <cite>

                            “Se a educação sozinha não transforma a sociedade, sem ela tampouco a sociedade muda.”

                        </cite>
                    </p>


                    <p>
                        <cite>
                            “Ninguém educa ninguém, ninguém educa a si mesmo, os homens educam-se entre si, mediatizados
                            pelo
                            mundo.”
                        </cite>
                    </p>

                    <p>


                        <cite>

                            “A alegria não chega apenas no encontro do achado, mas faz parte do processo da busca. E
                            ensinar
                            e
                            aprender não pode dar-se fora da procura, fora da boniteza e da alegria.”

                        </cite>

                    </p>

                    <p>
                        <cite>

                            “Ninguém ignora tudo. Ninguém sabe tudo. Todos nós sabemos alguma coisa. Todos nós ignoramos
                            alguma
                            coisa. Por isso aprendemos sempre.”

                        </cite>
                    </p>

                </section>

            </section>
            <hr>
            <footer class="pai-footer">
                <!-- Quem somos nós -->
                <header class="footer-header-quemSomosNos">
                    <h2><a name="quemSomos" id="quemsomos">Quem somos nós</a></h2>
                </header>
    
                <main class="footer-container-equipes">
                    <section class="footer-section-Equipe">
                        <h2>Time de Design</h2>
                        <br>
                        <ul>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipeDesign/Membro_CamilaGraziele.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
    
                                        <span>
                                            Camila
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <!-- <a href=""><img src="../img/icon_github.png" alt=""></a>
                                            <a href=""><img src="../img/icon_linkedin.png" alt=""></a> -->
                                            <a href="https://www.instagram.com/my_milahh/?hl=pt-br"><img src="../img/icon_insta.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
    
                            <li>
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipeDesign/Membro_IgorYan.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
    
                                        <span>
                                            Igor Yan
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
    
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipeDesign/Membro_Julia.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Julia
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href="https://github.com/Julia16-blip"> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href="https://www.linkedin.com/in/julia-ferreira-a389291ba/"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href="https://www.instagram.com/injuriadaaa/"> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipeDesign/Membro_Leticia.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Leticia
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a> -->
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href="https://www.instagram.com/leticia_cris.ss?r=nametag"> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipeDesign/Membro_Maria.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Maria
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a> -->
                                            <a href="https://www.linkedin.com/in/maria-eduarda-iwashita-e-silva-1a06791ba"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href="https://instagram.com/eduarda_iwashita?igshid=1a0corsqjzk36"> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                        </ul>
                    </section>
    
                    <section class="footer-section-Equipe">
                        <h2>Time de Rpogramação</h2>
                        <br>
                        <ul>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipeProgramacao/Membro_Felipe.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
    
                                        <span>
                                            Felipe
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
    
                            <li>
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipeProgramacao/Membro_Guilherme.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
    
                                        <span>
                                            Guilherme
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href="https://github.com/GuilhermeLucasGarcia"> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href="https://www.linkedin.com/in/guilherme-lucas-garcia-da-silva-9097441ba"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href="https://www.instagram.com/gui_lukas_silva/"> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
    
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipeProgramacao/Membro_jose.png" alt=""> </a>
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            José Ricardo
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href="https://github.com/JoseMontiSelli"> <img src="../img/icon_github.png"
                                                    alt=""> </a>
                                            <a href="https://www.linkedin/in/josemontiselli"> <img
                                                    src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href="https://www.instagram.com/liferuler/"> <img src="../img/icon_insta.png"
                                                    alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipeProgramacao/Membro_Maylon.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Maylon
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href="https://github.com/MaylonLima"> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href="https://www.linkedin.com/in/maylon-lima-1555651a3/"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href="https://www.instagram.com/maylon.limaa/"> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                        </ul>
                    </section>
    
                    <section class="footer-section-Equipe">
                        <h2>Time de Pesquisa</h2>
                        <br>
                        <ul>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipePesquisa/Membro_Edson.jpeg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
    
                                        <span>
                                            Edson
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a> -->
                                            <a href="https://www.linkedin.com/in/edson-jos%C3%A9-de-oliveira-66b42766"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <!-- <a href=""> <img src="../img/icon_insta.png" alt=""> </a> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
    
                            <li>
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipePesquisa/Membro_Gabriel.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
    
                                        <span>
                                            Gabriel
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a> -->
                                            <a href="https://www.instagram.com/gabriell_almeidaaa/"> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
    
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipePesquisa/Membro_Kelvin.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Kelvin
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a> -->
                                            <a href="https://www.linkedin.com/in/kelvin-mendes-3419291ba/"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href="https://www.instagram.com/kelvin_h4d_mendess_/"> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                            <li>
                                <!-- Começo do item -->
                                <!-- <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membro_jose-programacao.png" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Marcela
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- Fim do item -->
                            </li>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipePesquisa/Membro_IgorNunes.jpeg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Igor Nunes
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a> -->
                                            <a href="https://www.instagram.com/void_s2/"> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                        </ul>
                    </section>
                </main>
    
                <!-- Sessão de copyRight -->
    
                <footer class="footer-copyright">
                    <span>Produzido por Grupo A - Desenvolvimento de Sistemas - Etec Poá</span>
                    <div class="footer-icones">
    
                        <a href="#">
                            <img src="../img/icon_github.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../img/icon_linkedin.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../img/icon_insta.png" alt="">
                        </a>
                    </div>
                </footer>
    
            </footer>
        </div>
    </div>

</body>

</html>