<!DOCTYPE html>
<html lang="pt-br">
    <head>

        <title>Instituto Paulo Freire</title>

                     <!-- Links CSS -->
        <link rel="stylesheet" href="_css/instituto.css">
        <link rel="stylesheet" href="_css/img.css">

                        <!-- Fontes -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
        
    </head>
    <body>

    <div class="container">

   <!-- Introdução -->
        <main>

            <div class="tabela-2">

                <img class="img_logo"src="_imagens/logo.png"/>
        
                     <div class="tabela-texto">
                         <p>Concebido a partir de uma ideia do próprio Paulo Freire em 12 de Abril de 1991 e fundado em setembro de 1992 com o intuito de reunir pessoas e instituições com interesses em comum, uma educação humanizadora e transformadora, pudessem melhorar suas práticas e se  fortalecer na luta pela construção de um outro mundo possível.</p>
                     </div>

                <img class="img_quarto" src="_imagens/quarto.jpeg"/>

            </div>
         
        </main>
   
    
    <!-- História do Instituto -->    
    <aside> 
        <div class="tabela-3">

            <div class="tabela-texto">
                <p>Em 6 de março de 2009 recebeu, do Ministério da Justiça, o título de Organização da Sociedade Civil de Interesse Público, consolidando sua possibilidade institucional de trabalhar com programas e projetos sociais, culturais, ambientais e educacionais, por meio de parcerias com diferentes instituições governamentais. Atualmente, considerando-se Cátedras, Institutos Paulo Freire pelo mundo e o Conselho Internacional de Assessores, o IPF constitui-se numa rede internacional que possui membros distribuídos em mais de 90 países em todos os continentes, com o objetivo principal de dar continuidade e reinventar o legado de Paulo Freire. </p></br>

                <p>Tem como missão “Educar para Transformar”, dando continuidade e reinventando o legado freiriano na promoção de uma educação emancipadora, combatendo todas as formas de injustiça de discriminação, violência, preconceito, exclusão de degradação das comunidades de vida, com vistas à transformação social e ao fortalecimento da democracia participativa, da ética e da garantia de direitos.</p></br>

                <p>O Instituto Paulo Freire desenvolve projetos de assessoria, consultoria, pesquisas, formação (presencial e a distância) inicial e educação continuada, orientados pelas dimensões socioambiental e intertranscultural, construindo três  áreas de atuação: Educação de Adultos, Educação Cidadã e Educação Popular. As ações fundamentam-se nos princípios da horizontalidade e do trabalho coletivo, utilizando metodologia essencialmente dialógica, inclusiva, respeitosa da diversidade, das diferenças e das semelhanças entre as culturas e os povos, fundada no incentivo à auto-organização e à autodeterminação.</p></br>

                <p>O Instituto Paulo Freire mantém a Editora e Livraria Instituto Paulo Freire, a Casa da Cidadania Planetária, a Universitas Paulo Freire (UniFreire) e o centro de Referência Paulo Freire, com bibliotecas que pertenceram a Paulo Freire e inúmeros registros audiovisuais, manuscritos e documentos, disponíveis para estudos e pesquisas.</p></br>
            
                <a>Está situado em São Paulo, SP, na Avenida Cerro Corá, 550, Alto da Lapa.</a>
            </div>
            
            
        </div>

    </aside>   

        
        
       

    </div>



    </body>
    </html>