<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../Css/all.css">
	<link rel="stylesheet" href="../Css/metodo.css">
    <!-- fontes -->
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Semana paulo freire | Método Paulo Freire</title>
    
    <link rel="shortcut icon" href="/img/img_MiniaturaPF.png">
    
</head>

<body>

    <div class="container-Metodo-Paulo-Freire">
        <!-- Header -->
        <header>
            <nav>
                <!-- Logo da barra de navegação -->
                <div class="nav-TopoLogo">

                    <div class="nav-TopoLogo-IconLivro">
                        <a href="../index.html"><img src="../img/icon_Logo.png" alt="Icone de livro"></a>
                    </div>

                    <div class="nav-TopoLogo-Letreiero">
                        <span>
                            <a href="../index.html">
                                Paulo Freire
                            </a>
                        </span>
                    </div>

                </div>

                <!-- Nav-Bar -->
                <ul class="nav-BarraDeNavegacao">
                    <li><a href="/Views/Biografia.html">Biografia</a></li>
                    <li><a href="/Views/MetodoFreire.html">O 'Método' Paulo Freire</a></li>
                    <li><a href="/Views/Obras.html">Obras</a></li>
                    <li><a href="/Views/Instituto.html">Instituto Paulo Freire</a></li>
                    <li><a href="/Views/Citacoes.html">Citações</a></li>
                    <li><a href="#quemSomos">Sobre nós</a></li>
                </ul>
            </nav>
        </header>
            <section class="texto-Metodo">
                <div class="card-texto-Metodo">
                    <img src="../img/img_MiniaturaPF.png" alt="Miniatura do paulo freire">
                    <span>Método</span>
                </div>

                <section class="texto-Metodo-main">
                    <h2>Método Paulo Freire:</h2>

                    <p>
                        <cite>

                            Seu método, desenvolvido na década    de 1960 como estratégia para a  alfabetização de adultos e popularmente conhecido como “Método Paulo Freire“, possui fundamentação humanista ao vislumbrar na educação um ato criador, a medida em que proporciona ao indivíduo autonomia, consciência crítica e capacidade de decisão.

                        </cite>
                    </p>
                    <p>

                        <cite>

                            O próprio Paulo Freire considerava sua metodologia um método de aprender e não propriamente de ensinar, portanto muito mais próxima a uma Teoria do Conhecimento do que uma metodologia de ensino propriamente dita. Como tal, os princípios ético-metodológicos de sua teoria eram constituídos com base no respeito pelo educando e na conquista da autonomia, tendo o dialogicidade como fio condutor do processo de ensino-aprendizagem.

                        </cite>
                    </p>

                    <p>
                        <cite>

                            Em decorrência desses pressupostos, de acordo com o Método Paulo Freire o processo educativo ocorre e está centrado na mediação educador-educando. Ao educador cabe mostrar ao educando que ele traz consigo uma gama conhecimentos oriundos de suas experiências e ao educador é incumbida a tarefa de auxiliar na organização desses conhecimentos, relacionando os saberes trazidos pelo educando com os saberes escolares. Assim, o aluno/educando melhora progressivamente sua 
                            autoestima, conseguindo participar mais ativamente do processo de aprendizagem; consequentemente, maior será a autonomia e maior será também a perspectiva de participação ativa na sociedade.

                        </cite>
                    </p>


                    <p>
                        <cite>
                            O trabalho pedagógico baseado nesse método parte de uma investigação temática para verificação do universo vocabular do aluno e dos modos de vida e costumes da região, com o objetivo de perceber como o aluno sente sua realidade. A partir deste levantamento é definido um tema gerador geral e demais tematizações a serem trabalhadas através de ilustrações que representem aspectos da realidade concreta dos alunos a fim de suscitar debates que levem a problematização das situações vividas. Paralelamente a essas etapas são trabalhados pelo professor as dificuldades fonéticas sendo que, desta forma, o processo de construção e significação de palavras, leitura e escrita ocorrem simultaneamente.
                        </cite>
                    </p>

                    <p>


                        <cite>

                            Ao trabalhar a aprendizagem dessa maneira, o método inova ao promover a horizontalidade na relação educador-educando, a valorização da sua cultura e da sua oralidade. Partindo dos princípios de que o educando é sujeito da própria aprendizagem e de quando ele chega à escola já possui um conhecimento de sua língua e de sua cultura, promove uma aprendizagem que ocorre coletivamente e se dá no conflito entre o conhecimento antigo e o novo conhecimento.

                        </cite>

                    </p>

                    <p>
                        <cite>

                           Portanto, na visão de Paulo Freire a educação deve ser capaz de promover a autoconfiança e toda ação educativa deve ser um ato contínuo de recriação e de resignificação de significados enquanto condição de possibilidade para uma educação conscientizadora e 
                           libertadora, dentro de uma perspectiva contínua de diálogo e reflexão sobre a ação com o objetivo de ampliar a visão de mundo e a participação ativa do indivíduo em todas as esferas da vida em sociedade.

                        </cite>
                    </p>

                </section>

            </section>
            <div class="fantasma">
                <hr>
            </div>
            <footer class="pai-footer">
                <!-- Quem somos nós -->
                <header class="footer-header-quemSomosNos">
                    <h2><a name="quemSomos" id="quemsomos">Quem somos nós</a></h2>
                </header>
    
                <main class="footer-container-equipes">
                    <section class="footer-section-Equipe">
                        <h2>Time de Design</h2>
                        <br>
                        <ul>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipeDesign/Membro_CamilaGraziele.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
    
                                        <span>
                                            Camila
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <!-- <a href=""><img src="../img/icon_github.png" alt=""></a>
                                            <a href=""><img src="../img/icon_linkedin.png" alt=""></a> -->
                                            <a href="https://www.instagram.com/my_milahh/?hl=pt-br"><img src="../img/icon_insta.png" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
    
                            <li>
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipeDesign/Membro_IgorYan.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
    
                                        <span>
                                            Igor Yan
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a> -->
                                            <a href="Linkedin: https://www.linkedin.com/in/igor-silva-66602a177"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
    
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipeDesign/Membro_Julia.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Julia
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href="https://github.com/Julia16-blip"> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href="https://www.linkedin.com/in/julia-ferreira-a389291ba/"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href="https://www.instagram.com/injuriadaaa/"> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipeDesign/Membro_Leticia.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Leticia
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a> -->
                                            <a href="https://www.linkedin.com/in/letícia-cristina-57abb41b9/"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href="https://www.instagram.com/leticia_cris.ss?r=nametag"> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipeDesign/Membro_Maria.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Maria
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a> -->
                                            <a href="https://www.linkedin.com/in/maria-eduarda-iwashita-e-silva-1a06791ba"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href="https://instagram.com/eduarda_iwashita?igshid=1a0corsqjzk36"> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                        </ul>
                    </section>
    
                    <section class="footer-section-Equipe">
                        <h2>Time de Programação</h2>
                        <br>
                        <ul>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipeProgramacao/Membro_Felipe.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
    
                                        <span>
                                            Felipe
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
    
                            <li>
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipeProgramacao/Membro_Guilherme.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
    
                                        <span>
                                            Guilherme
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href="https://github.com/GuilhermeLucasGarcia"> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href="https://www.linkedin.com/in/guilherme-lucas-garcia-da-silva-9097441ba"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href="https://www.instagram.com/gui_lukas_silva/"> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
    
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipeProgramacao/Membro_jose.png" alt=""> </a>
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            José Ricardo
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href="https://github.com/JoseMontiSelli"> <img src="../img/icon_github.png"
                                                    alt=""> </a>
                                            <a href="www.linkedin/in/josemontiselli"> <img
                                                    src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href="https://www.instagram.com/liferuler/"> <img src="../img/icon_insta.png"
                                                    alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipeProgramacao/Membro_Maylon.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Maylon
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href="https://github.com/MaylonLima"> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href="https://www.linkedin.com/in/maylon-lima-1555651a3/"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href="https://www.instagram.com/maylon.limaa/"> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                        </ul>
                    </section>
    
                    <section class="footer-section-Equipe">
                        <h2>Time de Pesquisa</h2>
                        <br>
                        <ul>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipePesquisa/Membro_Edson.jpeg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
    
                                        <span>
                                            Edson
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a> -->
                                            <a href="https://www.linkedin.com/in/edson-jos%C3%A9-de-oliveira-66b42766"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <!-- <a href=""> <img src="../img/icon_insta.png" alt=""> </a> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
    
                            <li>
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipePesquisa/Membro_Gabriel.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
    
                                        <span>
                                            Gabriel
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a> -->
                                            <a href="https://www.instagram.com/gabriell_almeidaaa/"> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
    
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipePesquisa/Membro_Kelvin.jpg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Kelvin
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a> -->
                                            <a href="https://www.linkedin.com/in/kelvin-mendes-3419291ba/"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href="https://www.instagram.com/kelvin_h4d_mendess_/"> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                            <li>
                                <!-- Começo do item -->
                                <!-- <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membro_jose-programacao.png" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Marcela
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- Fim do item -->
                            </li>
                            <li>
                                <!-- Começo do item -->
                                <div class="Footer-Design-Item">
                                    <div class="Design-Item-Img">
                                        <img src="../img/Membros da equipe/EquipePesquisa/Membro_IgorNunes.jpeg" alt="">
                                    </div>
                                    <div class="Footer-Design-NomeIcon">
                                        <span>
                                            Igor Nunes
                                        </span>
                                        <div class="Footer-Design-NomeIcon-Icon">
                                            <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                            <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a> -->
                                            <a href="https://www.instagram.com/void_s2/"> <img src="../img/icon_insta.png" alt=""> </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Fim do item -->
                            </li>
                        </ul>
                    </section>
                </main>
    
                <!-- Sessão de copyRight -->
    
                <footer class="footer-copyright">
                    <span>Produzido por Grupo A - Desenvolvimento de Sistemas - Etec Poá</span>
                    <div class="footer-icones">
    
                        <a href="#">
                            <img src="../img/icon_github.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../img/icon_linkedin.png" alt="">
                        </a>
                        <a href="#">
                            <img src="../img/icon_insta.png" alt="">
                        </a>
                    </div>
                </footer>
    
            </footer>
        </div>
    </div>

</body>

</html>