<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Links CSS -->
    <link rel="stylesheet" href="../Css/Obras.css">
    <link rel="stylesheet" href="../Css/Obras_Img.css">
    <link rel="stylesheet" href="../Css/all.css">

    <!-- Fontes -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

        <link rel="shortcut icon" href="/img/img_MiniaturaPF.png">

    <title> Semana paulo freire | Obras</title>
</head>

<body>

    <div class="classe-master">

        <header>
            <nav>
                <!-- Logo da barra de navegação -->
                <div class="nav-TopoLogo">

                    <div class="nav-TopoLogo-IconLivro">
                        <a href="../index.html"><img src="../img/icon_Logo.png" alt="Icone de livro"></a>
                    </div>

                    <div class="nav-TopoLogo-Letreiero">
                        <span>
                            <a href="../index.html">
                                Paulo Freire
                            </a>
                        </span>
                    </div>

                </div>

                <!-- Nav-Bar -->
                <ul class="nav-BarraDeNavegacao">
                    <li><a href="/Views/Biografia.html">Biografia</a></li>
                    <li><a href="/Views/MetodoFreire.html">O 'Método' Paulo Freire</a></li>
                    <li><a href="/Views/Obras.html">Obras</a></li>
                    <li><a href="/Views/Instituto.html">Instituto Paulo Freire</a></li>
                    <li><a href="/Views/Citacoes.html">Citações</a></li>
                    <li><a href="#quemSomos">Sobre nós</a></li>
                </ul>
            </nav>
        </header>

        <main class="Main-Instituto">
            <div class="container">
                <!-- Introdução -->
                <main>
                    <div class="card-texto-Obras">
                        <img src="../img/img_MiniaturaPF.png" alt="Miniatura do paulo freire">
                        <span>Obras</span>
                    </div>

                    <div class="tabela-livros">
                        
                        <ul class="">
                            <li><strong>1 - </strong> Pedagogia da Autonomia <small>(original)</small> </li>
                            <li><strong>2 - </strong> Pedagogia da Autonomia <small>(re-edição)</small> </li>
                        </ul>
                        <div class="img_logo">
                            <img src="../img/Livros/img_Livro6.jpg" />
                            <img src="../img/Livros/img_Livro1.png" />
                        </div>
                        <ul class="">
                            <li> <strong>3 - </strong> Educação como pratica da liberdade <small>(original)</small></li>
                            <li> <strong>4 - </strong> Educação como pratica da liberdade <small>(re-edição)</small>
                            </li>
                        </ul>
                        <div class="img_logo">
                            <img src="../img/Livros/img_Livro3.jpg" />
                            <img src="../img/Livros/img_Livro7.png" />
                        </div>
                        <ul>
                            <li><strong>5 - </strong> Pedagogia da esperança <small>(original)</small></li>
                            <li><strong>6 - </strong> Pedagogia da esperança <small>(re-edição)</small></li>
                        </ul>

                        <div class="img_logo">
                            <img src="../img/Livros/img_Livro2.png" />
                            <img src="../img/Livros/img_Livro5.jpg" />
                        </div>
                        <ul>
                            <li><strong>7 - </strong> Pedagogia do oprimido <small>(Original)</small></li>
                            <li><strong>8 - </strong> Pedagogia do oprimido <small> (re-edição)</small></li>
                        </ul>
                        <div class="img_logo">
                            <img src="../img/Livros/img_Livro4.jpg" />
                            <img src="../img/Livros/img_Livro8.png" />
                        </div>
                    </div>

                </main>

                <!-- História do Instituto -->
                <aside>
                    <div class="tabela-descricao-livros">

                        <div class="tabela-texto">
                            <!-- Livro 1 -->

                            <p>
                                <!-- Envolva o texto todo em tags P até mesmo o os H2 E H3  -->
                            <h2>Educação como prática da liberdade (Santiago/Chile)</h2> <!-- H2 É TITULO DO LIVRO -->

                            <h3>Ano de publicação: 1965</h3> <!-- H3 É ANO DE PUBLICAÇÃO -->
                            <br><br>
                            <strong>Sinopse:</strong>
                            <br><br>
                            Educação como prática da liberdade foi escrito em 1967, durante o exílio
                            forçado de Paulo Freire no Chile. Tem como principal objetivo alcançar a educação que
                            liberta seres humanos da condição de oprimido e os insere na sociedade como forças
                            transformadoras, críticas, politizadas e responsáveis por todas as pessoas que a
                            integram.
                            <br><br> <!-- Coloque 2 BR's para quebrar a linha  -->
                            Além de apresentação de Francisco C. Weffort e prefácio-poema de Thiago de
                            Mello, esta edição reúne apêndice com exemplos de situações existenciais, que
                            possibilitam no Método a apreensão do conceito de cultura. São acompanhadas de desenhos
                            de Vicente de Abreu feitos a partir das pinturas originais de Francisco Brennand,
                            destruídas pela ditadura militar brasileira.
                            <br><br>
                            Em 1963, em Angicos, interior do Rio Grande do Norte, trezentos trabalhadores rurais
                            foram alfabetizados em apenas 40 horas, pelo método proposto por Paulo Freire. Esse foi
                            o resultado do projeto-piloto do que seria o Programa Nacional de Alfabetização do
                            governo de João Goulart, presidente que viria a ser deposto em março de 1964. Em outubro
                            desse mesmo ano, Freire deixou o Brasil para proteger a própria vida. Apenas voltou a
                            visitar o país em 1979, com a abertura democrática.
                            <br><br>
                            Ao longo de sua história, Paulo Freire recebeu mais de cem títulos de doutor honoris
                            causa, de diversas universidades nacionais e estrangeiras, além de inúmeros prêmios,
                            como Educação para a Paz, da UNESCO, e Ordem do Mérito Cultural, do governo brasileiro.
                            Integra o International Adult and Continuing Education Hall of Fame e o Reading Hall of
                            Fame.
                            <br><br>
                            <cite>
                                <!-- Em citações coloque a tag cite  -->
                                “Quando um ex-analfabeto de Angicos, discursando diante do presidente Goulart, que
                                sempre nos apoiou com entusiasmo, e de sua comitiva, declarou que já não era massa,
                                mas povo, disse mais do que uma frase: afirmou-se conscientemente numa opção. Escolheu a
                                participação decisória, que só o povo tem, e renunciou à demissão emocional das massas.
                                Politizou-se.”
                            </cite>
                            </p>
                            <!-- Texto 2 -->
                            </br>
                            <!-- Livro 2 -->
                            <p>
                            <h2>Pedagogia do oprimido (Santiago/Chile) </h2>
                            <h3>Ano de publicação: 1968</h3>
                            <br><br>
                            <strong>
                                Sinopse:
                            </strong>
                            <br><br>
                            Pedagogia do oprimido, escrito entre 1964 e 1968, quando Paulo Freire estava
                            exilado no Chile, foi proibida pela ditadura civil-militar do Brasil, onde permaneceu
                            inédito até 1974. Ancorado em situações concretas, este livro desvela as relações que
                            sustentam uma ordem injusta, responsável pela violência dos opressores e pelo medo da
                            liberdade que os oprimidos sentem. É um livro radical, sobre o conhecer solidário, a
                            vocação ontológica, o amor, o diálogo, a esperança e a humildade. Aborda a luta pela
                            desalienação, pelo trabalho livre, pela afirmação dos seres humanos como pessoas, e não
                            coisas.
                            <br><br>
                            É destinado aos revolucionários, que se comprometem com os oprimidos, para, com
                            eles e ao lado deles, lutar para construir um mundo em que seja mais fácil amar.
                            <br><br>
                            Em 1963, em Angicos, interior do Rio Grande do Norte, trezentos trabalhadores rurais
                            foram alfabetizados em apenas 40 horas, pelo método proposto por Paulo Freire. Esse foi o
                            resultado do projeto-piloto do que seria o Programa Nacional de Alfabetização do governo
                            de João Goulart, presidente que viria a ser deposto em março de 1964. Em outubro desse
                            mesmo ano, Freire deixou o Brasil para proteger a própria vida. Apenas voltou a visitar
                            o país em 1979, com a abertura democrática.
                            <br><br>
                            Ao longo de sua história, Paulo Freire recebeu mais de cem títulos de doutor honoris causa,
                            de diversas universidades nacionais e estrangeiras, além de inúmeros prêmios, como Educação
                            para a Paz, da UNESCO, e Ordem do Mérito Cultural, do governo brasileiro.
                            Integra o International Adult and Continuing Education Hall of Fame e o Reading Hall of
                            Fame.
                            <br><br>
                            “O opressor só se solidariza com os
                            oprimidos quando o seu gesto deixa de ser um gesto piegas e sentimental, de caráter
                            individual, e passa a ser um ato de amor àqueles. Quando, para ele, os oprimidos deixam
                            de ser uma designação abstrata e passam a ser os homens concretos, injustiçados e
                            roubados. Roubados na sua palavra, por isto no seu trabalho comprado, que significa a
                            sua pessoa vendida. Só na plenitude deste ato de amar, na sua existenciação, na sua
                            práxis, se constitui a solidariedade verdadeira. Dizer que os homens são pessoas e, como
                            pessoas, são livres, e nada concretamente fazer para que esta afirmação se objetive, é
                            uma farsa.”</p></br>

                            <!-- Livro 3 -->
                            <p>
                            <h2>Pedagogia da esperança – 1992 (São Paulo/Brasil)</h2>
                            <h3>Ano de publicação: 1992</h3>
                            <br>
                            <strong>Sinopse:</strong>
                            Em Pedagogia da esperança, de 1992, Paulo Freire faz uma reflexão sobre a Pedagogia do
                            oprimido
                            um reencontro com ela, com suas vivências em quase três décadas nos mais diferentes cantos
                            do mundo O livro, atual e imprescindível,conta ainda com a colaboração de Ana Maria Araújo
                            Freire, através de notas explicativas.
                            <br> <br>
                            Em 1963, em Angicos, interior do Rio Grande do Norte, 300 trabalhadores rurais foram
                            alfabetizados em
                            apenas 40 horas, pelo método proposto por Paulo Freire. Esse foi o resultado do
                            projeto-piloto do que
                            seria o Programa Nacionalde Alfabetização do governo de João Goulart, presidente que viria a
                            ser
                            deposto em março de 1964. Em outubro desse mesmo ano,Freire deixou o Brasil para proteger a
                            própria
                            vida. Apenas voltou a visitar o país em 1979, com a abertura
                            democrática.

                            <br><br>
                            Ao longo de sua história, Paulo Freire recebeu mais de cem títulos de doutor honoris causa,
                            diversas universidades nacionais e estrangeiras, além de inúmeros prêmios, como Educação
                            Paz, da UNESCO, e Ordem do Mérito Cultural, do governo brasileiro. Integra o International
                            and Continuing Education Hall of Fame e o Reading Hall of Fame.
                            <br><br>

                            <cite>
                                "Hoje, distante em mais de 25 anos daquelas manhãs, daquelas tardes, daquelas noites,
                                vendo,
                                ouvindo, quase pegando com as mãos certezas sectárias, excludentes da possibilidade de
                                certezas, negadoras de dúvidas, afirmadoras da verdade possuída por certos grupos que se
                                a si mesmos de revolucionários, reafirmo, como se impõe a uma Pedagogia da esperança, a
                                posição
                                assumida e defendida na Pedagogia do oprimido contra os sectarismos, castradores sempre,
                                e
                                defesa do radicalismo
                                crítico."
                            </cite>
                            <br><br>
                            </p>
                            <!-- Texto 4 -->
                            <p>
                            <h2>Pedagogia da autonomia (São Paulo/Brasil)</h2>
                            <h3>Ano de publicação: 1997</h3>
                            <br><br>
                            <strong>Sinopse:</strong>
                            <br><br>
                            Para fazer brotar as energias da esperança.
                            Em Pedagogia da esperança, de 1992, Paulo Freire faz uma reflexão sobre a Pedagogia do
                            oprimido,
                            um reencontro com ela, com suas vivências em quase três décadas nos mais diferentes cantos
                            do mundo.
                            <br><br>
                            O livro, atual e imprescindível, conta ainda com a colaboração de Ana Maria Araújo Freire,
                            através
                            de notas explicativas.
                            <br><br>
                            Em 1963, em Angicos, interior do Rio Grande do Norte, 300 trabalhadores rurais foram
                            alfabetizados em apenas
                            40 horas, pelo método proposto por Paulo Freire. Esse foi o resultado do projeto-piloto do
                            que seria
                            o Programa Nacional de Alfabetização do governo de João Goulart, presidente que viria a ser
                            deposto
                            em março de 1964. Em outubro desse mesmo ano, Freire deixou o Brasil para proteger a própria
                            vida.
                            Apenas voltou a visitar o país em 1979, com a abertura democrática.</p>
                            <br><br>
                            Ao longo de sua história, Paulo Freire recebeu mais de cem títulos de doutor honoris causa,
                            de diversas
                            universidades nacionais e estrangeiras, além de inúmeros prêmios, como Educação para a Paz,
                            da UNESCO,
                            e Ordem do Mérito Cultural, do governo brasileiro. Integra o International Adult and
                            Continuing Education
                            Hall of Fame e o Reading Hall of Fame.</p>
                            <br><br>
                            <cite>
                                “Hoje, distante em mais de 25 anos daquelas manhãs, daquelas tardes, daquelas noites,
                                vendo,
                                ouvindo, quase pegando com as mãos certezas sectárias, excludentes da possibilidade de
                                outras certezas,
                                negadoras de dúvidas, afirmadoras da verdade possuída por certos grupos que se chamavam
                                a si mesmos de
                                revolucionários, reafirmo, como se impõe a uma Pedagogia da esperança, a posição
                                assumida e defendida
                                na Pedagogia do oprimido contra os sectarismos, castradores sempre, e em defesa do
                                radicalismo crítico.”
                            </cite>
                            </p>

                        </div>

                    </div>
                </aside>

            </div>
        </main>
        <hr>

        <footer class="pai-footer">
            <!-- Quem somos nós -->
            <header class="footer-header-quemSomosNos">
                <h2><a name="quemSomos" id="quemsomos">Quem somos nós</a></h2>
            </header>

            <main class="footer-container-equipes">
                <section class="footer-section-Equipe">
                    <h2>Time de Design</h2>
                    <br>
                    <ul>
                        <li>
                            <!-- Começo do item -->
                            <div class="Footer-Design-Item">
                                <div class="Design-Item-Img">
                                    <img src="../img/Membros da equipe/EquipeDesign/Membro_CamilaGraziele.jpg" alt="">
                                </div>
                                <div class="Footer-Design-NomeIcon">

                                    <span>
                                        Camila
                                    </span>
                                    <div class="Footer-Design-NomeIcon-Icon">
                                        <!-- <a href=""><img src="../img/icon_github.png" alt=""></a>
                                        <a href=""><img src="../img/icon_linkedin.png" alt=""></a> -->
                                        <a href="https://www.instagram.com/my_milahh/?hl=pt-br"><img src="../img/icon_insta.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Fim do item -->
                        </li>

                        <li>
                            <div class="Footer-Design-Item">
                                <div class="Design-Item-Img">
                                    <img src="../img/Membros da equipe/EquipeDesign/Membro_IgorYan.jpg" alt="">
                                </div>
                                <div class="Footer-Design-NomeIcon">

                                    <span>
                                        Igor Yan
                                    </span>
                                    <div class="Footer-Design-NomeIcon-Icon">
                                        <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a> -->
                                        <a href="https://www.linkedin.com/in/igor-silva-66602a177"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                        <!-- <a href=""> <img src="../img/icon_insta.png" alt=""> </a> -->
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <!-- Começo do item -->
                            <div class="Footer-Design-Item">
                                <div class="Design-Item-Img">
                                    <img src="../img/Membros da equipe/EquipeDesign/Membro_Julia.jpg" alt="">
                                </div>
                                <div class="Footer-Design-NomeIcon">
                                    <span>
                                        Julia
                                    </span>
                                    <div class="Footer-Design-NomeIcon-Icon">
                                        <a href="https://github.com/Julia16-blip"> <img src="../img/icon_github.png" alt=""> </a>
                                        <a href="https://www.linkedin.com/in/julia-ferreira-a389291ba/"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                        <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Fim do item -->
                        </li>
                        <li>
                            <!-- Começo do item -->
                            <div class="Footer-Design-Item">
                                <div class="Design-Item-Img">
                                    <img src="../img/Membros da equipe/EquipeDesign/Membro_Leticia.jpg" alt="">
                                </div>
                                <div class="Footer-Design-NomeIcon">
                                    <span>
                                        Leticia
                                    </span>
                                    <div class="Footer-Design-NomeIcon-Icon">
                                        <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a> -->
                                        <a href="https://www.linkedin.com/in/letícia-cristina-57abb41b9/"> <img src="../img/icon_linkedin.png" alt=""> </a> 
                                        <a href="https://www.instagram.com/leticia_cris.ss?r=nametag"> <img src="../img/icon_insta.png" alt=""> </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Fim do item -->
                        </li>
                        <li>
                            <!-- Começo do item -->
                            <div class="Footer-Design-Item">
                                <div class="Design-Item-Img">
                                    <img src="../img/Membros da equipe/EquipeDesign/Membro_Maria.jpg" alt="">
                                </div>
                                <div class="Footer-Design-NomeIcon">
                                    <span>
                                        Maria
                                    </span>
                                    <div class="Footer-Design-NomeIcon-Icon">
                                        <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a> -->
                                        <a href="https://www.linkedin.com/in/maria-eduarda-iwashita-e-silva-1a06791ba"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                        <a href="https://instagram.com/eduarda_iwashita?igshid=1a0corsqjzk36"> <img src="../img/icon_insta.png" alt=""> </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Fim do item -->
                        </li>
                    </ul>
                </section>

                <section class="footer-section-Equipe">
                    <h2>Time de programação</h2>
                    <br>
                    <ul>
                        <li>
                            <!-- Começo do item -->
                            <div class="Footer-Design-Item">
                                <div class="Design-Item-Img">
                                    <img src="../img/Membros da equipe/EquipeProgramacao/Membro_Felipe.jpg" alt="">
                                </div>
                                <div class="Footer-Design-NomeIcon">

                                    <span>
                                        Felipe
                                    </span>
                                    <div class="Footer-Design-NomeIcon-Icon">
                                        <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                        <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                        <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Fim do item -->
                        </li>

                        <li>
                            <div class="Footer-Design-Item">
                                <div class="Design-Item-Img">
                                    <img src="../img/Membros da equipe/EquipeProgramacao/Membro_Guilherme.jpg" alt="">
                                </div>
                                <div class="Footer-Design-NomeIcon">

                                    <span>
                                        Guilherme
                                    </span>
                                    <div class="Footer-Design-NomeIcon-Icon">
                                        <a href="https://github.com/GuilhermeLucasGarcia"> <img src="../img/icon_github.png" alt=""> </a>
                                        <a href="https://www.linkedin.com/in/guilherme-lucas-garcia-da-silva-9097441ba"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                        <a href="https://www.instagram.com/gui_lukas_silva/"> <img src="../img/icon_insta.png" alt=""> </a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <!-- Começo do item -->
                            <div class="Footer-Design-Item">
                                <div class="Design-Item-Img">
                                    <img src="../img/Membros da equipe/EquipeProgramacao/Membro_jose.png" alt=""> </a>
                                </div>
                                <div class="Footer-Design-NomeIcon">
                                    <span>
                                        José Ricardo
                                    </span>
                                    <div class="Footer-Design-NomeIcon-Icon">
                                        <a href="https://github.com/JoseMontiSelli"> <img src="../img/icon_github.png"
                                                alt=""> </a>
                                        <a href="www.linkedin/in/josemontiselli"> <img
                                                src="../img/icon_linkedin.png" alt=""> </a>
                                        <a href="https://www.instagram.com/liferuler/"> <img src="../img/icon_insta.png"
                                                alt=""> </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Fim do item -->
                        </li>
                        <li>
                            <!-- Começo do item -->
                            <div class="Footer-Design-Item">
                                <div class="Design-Item-Img">
                                    <img src="../img/Membros da equipe/EquipeProgramacao/Membro_Maylon.jpg" alt="">
                                </div>
                                <div class="Footer-Design-NomeIcon">
                                    <span>
                                        Maylon
                                    </span>
                                    <div class="Footer-Design-NomeIcon-Icon">
                                        <a href="https://github.com/MaylonLima"> <img src="../img/icon_github.png" alt=""> </a>
                                        <a href="https://www.linkedin.com/in/maylon-lima-1555651a3/"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                        <a href="https://www.instagram.com/maylon.limaa/"> <img src="../img/icon_insta.png" alt=""> </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Fim do item -->
                        </li>
                    </ul>
                </section>

                <section class="footer-section-Equipe">
                    <h2>Time de Pesquisa</h2>
                    <br>
                    <ul>
                        <li>
                            <!-- Começo do item -->
                            <div class="Footer-Design-Item">
                                <div class="Design-Item-Img">
                                    <img src="../img/Membros da equipe/EquipePesquisa/Membro_Edson.jpeg" alt="">
                                </div>
                                <div class="Footer-Design-NomeIcon">

                                    <span>
                                        Edson
                                    </span>
                                    <div class="Footer-Design-NomeIcon-Icon">
                                        <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a> -->
                                        <a href="https://www.linkedin.com/in/edson-jos%C3%A9-de-oliveira-66b42766"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                        <!-- <a href=""> <img src="../img/icon_insta.png" alt=""> </a> -->
                                    </div>
                                </div>
                            </div>
                            <!-- Fim do item -->
                        </li>

                        <li>
                            <div class="Footer-Design-Item">
                                <div class="Design-Item-Img">
                                    <img src="../img/Membros da equipe/EquipePesquisa/Membro_Gabriel.jpg" alt="">
                                </div>
                                <div class="Footer-Design-NomeIcon">

                                    <span>
                                        Gabriel
                                    </span>
                                    <div class="Footer-Design-NomeIcon-Icon">
                                        <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                        <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a> -->
                                        <a href="https://www.instagram.com/gabriell_almeidaaa/"> <img src="../img/icon_insta.png" alt=""> </a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <!-- Começo do item -->
                            <div class="Footer-Design-Item">
                                <div class="Design-Item-Img">
                                    <img src="../img/Membros da equipe/EquipePesquisa/Membro_Kelvin.jpg" alt="">
                                </div>
                                <div class="Footer-Design-NomeIcon">
                                    <span>
                                        Kelvin
                                    </span>
                                    <div class="Footer-Design-NomeIcon-Icon">
                                        <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a> -->
                                        <a href=" https://www.linkedin.com/in/kelvin-mendes-3419291ba/"> <img src="../img/icon_linkedin.png" alt=""> </a>
                                        <a href="https://www.instagram.com/kelvin_h4d_mendess_/"> <img src="../img/icon_insta.png" alt=""> </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Fim do item -->
                        </li>
                        <li>
                            <!-- Começo do item -->
                            <!-- <div class="Footer-Design-Item">
                                <div class="Design-Item-Img">
                                    <img src="../img/Membro_jose-programacao.png" alt="">
                                </div>
                                <div class="Footer-Design-NomeIcon">
                                    <span>
                                        Marcela
                                    </span>
                                    <div class="Footer-Design-NomeIcon-Icon">
                                        <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                        <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a>
                                        <a href=""> <img src="../img/icon_insta.png" alt=""> </a>
                                    </div>
                                </div>
                            </div> -->
                            <!-- Fim do item -->
                        </li>
                        <li>
                            <!-- Começo do item -->
                            <div class="Footer-Design-Item">
                                <div class="Design-Item-Img">
                                    <img src="../img/Membros da equipe/EquipePesquisa/Membro_IgorNunes.jpeg" alt="">
                                </div>
                                <div class="Footer-Design-NomeIcon">
                                    <span>
                                        Igor Nunes
                                    </span>
                                    <div class="Footer-Design-NomeIcon-Icon">
                                        <!-- <a href=""> <img src="../img/icon_github.png" alt=""> </a>
                                        <a href=""> <img src="../img/icon_linkedin.png" alt=""> </a> -->
                                        <a href="https://www.instagram.com/void_s2/"> <img src="../img/icon_insta.png" alt=""> </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Fim do item -->
                        </li>
                    </ul>
                </section>
            </main>

            <!-- Sessão de copyRight -->

            <footer class="footer-copyright">
                <span>Produzido por Grupo A - Desenvolvimento de Sistemas - Etec Poá</span>
                <div class="footer-icones">

                    <a href="#">
                        <img src="../img/icon_github.png" alt="">
                    </a>
                    <a href="#">
                        <img src="../img/icon_linkedin.png" alt="">
                    </a>
                    <a href="#">
                        <img src="../img/icon_insta.png" alt="">
                    </a>
                </div>
            </footer>

        </footer>
    </div>

</body>

</html>